// Brand colors
$cc-red: #f3797c;
$cc-dark: #363636;
$cc-blue: #99dadc;
$cc-light: #fffae1;

// Update Bulma's global variables
$primary: $cc-red;

// My global variables
:root {
  --primary: #{$cc-red};
  --background: #{$cc-light};
}
